{% extends 'base.html.twig' %}

{% block title %}Список заказов{% endblock %}

{% block body %}
    <h1>Список заказов</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>PhoneNumber</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.firstName }}</td>
                <td>{{ invoice.lastName }}</td>
                <td>{{ invoice.phoneNumber }}</td>
                <td>{{ invoice.createdAt ? invoice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button type="button" class="btn btn-warning"><a href="{{ path('invoice_show', {'id': invoice.id}) }}">Show</a></button>
                    <button type="button" class="btn btn-warning"><a href="{{ path('invoice_edit', {'id': invoice.id}) }}">Edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary"><a href="{{ path('invoice_new') }}" style="color: black">Create new</a></button>
{% endblock %}
