{% extends 'base.html.twig' %}

{% block title %}Список категорий{% endblock %}

{% block body %}
    <h1>Список категорий</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <button type="button" class="btn btn-warning"><a href="{{ path('category_show', {'id': category.id}) }}">Show</a></button>
                    <button type="button" class="btn btn-warning"><a href="{{ path('category_edit', {'id': category.id}) }}">Edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary"><a href="{{ path('category_new') }}" style="color: black">Create new</a></button>

{% endblock %}
