{% extends 'base.html.twig' %}

{% block title %}Категория{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>Категория</h1>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="container-fluid">
        <button type="button" class="btn btn-secondary"><a href="{{ path('category_index') }}" style="color: black">back to list</a></button>
    </div>

    <div class="container-fluid">
        <button type="button" class="btn btn-secondary"><a href="{{ path('category_edit', {'id': category.id}) }}" style="color: black">edit</a></button>
    </div>

    <div class="container-fluid">
        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
