{% extends 'base.html.twig' %}

{% block title %}Список товаров{% endblock %}

{% block body %}
    <h1>Список товаров</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Info</th>
                <th>Price</th>
                <th>IsAvailable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.info }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.isAvailable ? 'Yes' : 'No' }}</td>
                <td>
                    <button type="button" class="btn btn-warning"><a href="{{ path('product_show', {'id': product.id}) }}">Show</a></button>
                    <button type="button" class="btn btn-warning"><a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary"><a href="{{ path('product_new') }}" style="color: black">Create new</a></button>
{% endblock %}
