<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EmarkeT{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/assets/css/bootstrap.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}
    {% block menu %}
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('start_page') }}">Emarket</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('article_index') }}">Статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('category_index') }}">Категории</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('invoice_index') }}">Заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('product_index') }}">Товары</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/assets/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
